Repository GregHaris/vitiket: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint

chore: add packages and dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: add landing page components styles
  app/globals.css
Due: none

chore: add busy bg image
  public/assets/images/busy-bg.png
  tailwind.config.ts
Due: eslint --fix, prettier --write

style: increase primary and black button height from 11 to 12
  app/globals.css
Due: none

feat: create and add Landing page Components and dependencies
  app/(root)/page.tsx
  components/LandingPage/CategoriesSection.tsx
  components/LandingPage/FeaturedEventsSection.tsx
  components/LandingPage/HeroSection.tsx
  components/LandingPage/HowItWorksSection.tsx
  components/LandingPage/NewsletterSection.tsx
  components/shared/Footer/FooterLinks.tsx
  components/shared/Footer/index.tsx
  components/shared/Header/DisplayAdminButton.tsx
  components/shared/Header/NavItems.tsx
  components/shared/Header/index.tsx
  components/shared/HeroSection.tsx
  components/ui/badge.tsx
  components/ui/calendar.tsx
  components/ui/card.tsx
  components/ui/date-picker.tsx
  constants/categoriesData.ts
  constants/footerData.ts
  constants/howItWorksData.ts
Due: eslint --fix, prettier --write

style: change text-white to text-neutral-white
  app/(root)/create/_components/FormContactDetails.tsx
  app/(root)/create/_components/MapInput.tsx
  app/(root)/create/_components/TextEditorMenuBar.tsx
  app/(root)/events/[id]/_components/EventDetails.tsx
  app/(root)/events/[id]/_components/EventMap.tsx
  app/(root)/orders/page.tsx
  components/shared/CancelCheckoutDialog.tsx
  components/shared/ContactHost.tsx
  components/shared/PriceCardUI.tsx
Due: eslint --fix, prettier --write

Create oldHeroWithCarousel.tsx
  components/shared/oldHeroWithCarousel.tsx
Due: eslint --fix, prettier --write

fix: resolve header display
  components/shared/Header/index.tsx
Due: eslint --fix, prettier --write

fix:(landing page) resolve featured cards events view
  components/LandingPage/FeaturedEventsSection.tsx
Due: eslint --fix, prettier --write

fix:(landing page) resolve header and Hero display
  app/globals.css
  components/LandingPage/HeroSection.tsx
  components/shared/Header/NavItems.tsx
  components/shared/Header/index.tsx
Due: eslint --fix, prettier --write

style: customize scroll bar
  app/globals.css
Due: none

fix: reduce hero text font size
  components/LandingPage/HeroSection.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.html)) or (any of: *.{json,md})
  eslint: any of: *.html
